{% extends 'base.html' %}

{% load static %}


{% block content %}

  <div class="container" >
    <div class="shadow mt-4 pb-4 mb-4" style="margin-left:20%;margin-right:20%;border-radius: 10x;">
      <div class="container pt-4">

          <h2 class="pb-2" style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center;">Reset Password</h2>
          <h3 class="pb-2" style="font-size: 25px;">Enter your new password</h3>
          <form class="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
          
          <button class="btn btn-success btn-block" type="submit" style="">Change Password</button>
          </form>
      </div>
      

    </div>
  </div>

 

{% endblock %}