{% extends 'base.html' %}

{% load static %}


{% block content %}

    <div class="container">
        <div class="shadow mt-4" style="margin-left:20%;margin-right:20%;">

            <h2 class="pt-3 pb-2" style="text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif;">Reset Password</h2>

            <div class="form pt-2 " style="text-align: center;">
                <form class="" method="post" >
                    {% csrf_token %}
                     {{ form.as_p }}
                    <button class="btn btn-success" type="submit" style="margin-bottom: 20px;">submit</button>
                </form>
            </div>
            

        </div>
    </div>



{% endblock %}